 
body {
	font-family: 'Josefin Sans', Verdana, Helvetica, sans-serif;
	font-size: small;
	width:auto;
	min-width:1000px;
}

html, body {
	height:100%;
	min-height:100%;
	margin:0px;
	position:relative;
}

h1 {
	font-size: 2em;
	font-weight:600;
}

h2 {
	font-size: 1.5em;
}

#header {
	height:60px;
	padding-left:40px;
	padding-right:40px;
	background-color:#685642;
}

#header a, #header li, #header #logo-foodbox {
	color:white;
}

#logo-foodbox {
	font-size: 3.5em;
	float:left;
}

#actions {
	overflow:hidden;
}

.header-right {
	float:right;
	padding-top:20px;
	padding-left:5px;
}

#all-container {
	min-height:100%;
	background-color:#E6DCD8;
	position:relative;
}

#content {
	overflow:auto;
	height:100%;
	min-height:100%;
	background-color:#E6DCD8;
	padding-bottom:70px;
	padding-left:50px;
	padding-right:50px;
}

#main {
	padding-bottom:60px;
}

#signin-links {
	text-align: center;
	padding-top: 10px;
}

#splash {
	padding-top: 10px;
	width: 800px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.foodie-quantity, .foodie-unit {
	width:80px;
	height:25px;
	margin:5px;
}

.foodie-quantity-group {
	float:right;
	margin-right:10px;
}

.all-ingredients {
	padding-top:5px;
	padding-bottom:5px;
}

.add-more-button span {
	width:15px;
}

.foodie-recipe-main {
	margin-left:250px;
}

.foodie-recipe-right {
	float:left;
	width:220px;
}

.foodie-recipe-buttons button {
	float:right;
}

.foodie-recipe-items {
	list-style-type:none;
	padding-left:0px;
}

.foodie-ingredients h2, .foodie-recipe-method h2 {
	font-size:1.2em;
	font-weight:600;
	
}

.foodie-recipe-main h1, .foodie-ingredients h2, .foodie-recipe-method h2 {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
    height:35px;
    vertical-align:middle;
    line-height:35px;
    background-color:#685642;
    padding-left:10px;
    color:white;
    font-weight:normal;
}

.foodie-file-drop {
	border-style:dotted;
	border-width:thin;
	border-color:grey;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin:5px;
	padding:5px;
	height:197px;
}

.foodie-drop-label {
	margin-top:25%;
	display:inline-block;
	vertical-align:middle;
}

.foodbox-slide-show {
	text-align:center;
}

.foodbox-slide {
	height:220px;
	width:220x;
	border-style:solid;
	border-width:thin;
	border-color:grey;
}

.foodie-file-drop-enter {
	background-color: grey;
}

.foodie-file-attach {
	background-color:#8995A6;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding:3px;
}

.foodie-file-attach span {
	margin-right:5px;
	color:#685642;
	width:100%;
}

.foodie-file-attach a {
	color:#685642;
	text-decoration:none;
	float:right;
	margin-right:5px;
}

img.foodie-ajax-busy {
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px; /* -1 * image width / 2 */
    margin-top: -8x;  /* -1 * image height / 2 */
    display: block;  
}
    
.foodie-float-list {
	padding:10px;
}

.foodie-float-element {
	background-color:#685642;;
	border: 1px solid #685642;
	height: 200px;
	width: 200px;
	padding:5px;
	margin:5px;
	top:100px;
	float:left;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.foodie-float-element a {
	color:white;
}

.foodie-float-element a {
	position: top left;
	margin: 10px;
}

.foodie-float-icon img {
	width: 180px;
	height: 160px;
	margin: 10px;
}

.bulk-upload-file {
	width: 200px;
	height: 100px;
	border: dotted;
}

input.text {
	margin-bottom:12px;
	width:95%;
	padding: .4em;
}

fieldset {
	border-style:none;
}